:root {
  --realyn-blue-light: #00b7ff;
  --realyn-blue-dark: #031a55;
  --realyn-navy: #000a27;
  --realyn-charcoal: #111827;
  --realyn-white: #FFFFFF;
  --realyn-gray-100: #F3F4F6;
  --realyn-gray-700: #374151;
  --realyn-success: #17B26A;
  --realyn-warning: #F59E0B;
  --realyn-error: #E5484D;
}